<!-- <div id="square">
  <table>
    <tr>
      <td><button (click)="changeColor('red')" class="button red"></button></td>
      <td><button (click)="changeColor('green')" class="button green"></button></td>
    </tr>
    <tr>
      <td><button (click)="changeColor('blue')" class="button blue"></button></td>
      <td><button (click)="changeColor('orange')" class="button orange"></button></td>
    </tr>
  </table>
</div> -->

<div id="square">
  <button *ngFor="let color of listColors" (click)="changeColorbtn(color)" [ngClass]="color" class="button">
  </button>
</div>