#square{
  height: 400px;
  width: 400px;
  border: 1px solid black;
  background-color: white;
  padding-left: 5px;
  padding-top: 5px;
}

#content{
  height:85vh;
  padding-top:10vh;
  padding-left: 38vw;
}

.yellow{
  background-color:darkorange;
}

.red{
  background-color:red;
}

.blue{
  background-color:deepskyblue;
}

.green{
  background-color:limegreen;
}

.white{
  background-color:white;
}

