#square {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  background-color: white;
}

.orange {
  background-color: darkorange;
}

.red {
  background-color: red;
}

.blue {
  background-color: deepskyblue;
}

.green {
  background-color: limegreen;
}

.button {
  height: 199px;
  width: 199px;
}