.yellow{
  background-color:darkorange;
}

.red{
  background-color:red;
}

.blue{
  background-color:deepskyblue;
}

.green{
  background-color:limegreen;
}

#fond{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
