/* You can add global styles to this file, and also import other style files */
.orange {
    background-color: darkorange;
  }
  
  .red {
    background-color: red;
  }
  
  .blue {
    background-color: deepskyblue;
  }
  
  .green {
    background-color: limegreen;
  }